.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    input {
      padding: 0.625rem;
      width: 100%;
      border: 1px solid #3498db;
    }
  }