.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .previous,
  .next {
    position: fixed;
    top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      position: absolute;
    }
  }
  .previous {
    left: 0;
    &::before {
      border-right: 30px solid #3498db;
    }
  }
  .next {
    right: 0;
    &::before {
      border-left: 30px solid #3498db;
    }
  }
  .previous:disabled,
  .next:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
