.main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }

.error-message {
    color: red;
    font-size: 1.5rem;
    margin-top: 2rem;
}