.results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    overflow-y: auto;
  }

.results::-webkit-scrollbar {
  width: 10px;
}

.results::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 10px; 
  border: 3px solid #fff;
}

.results::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.results::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}


@media (max-width: 1490px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1140px) {
  .results {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .results {
    grid-template-columns: 1fr;
  }
}