header {
    display: flex;
    align-items: center;
    gap: 1rem;
    .light {
      background-color: #333;
      fill: white;
    }
    .dark {
      background-color: #d6e8fc;
      fill: #333;
    }
  }

  .theme-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
